th.center-text, td.center-text {
	text-align:center;
}

th.align-right, td.align-right {
text-align: right;
}

.clear {
clear: both;
}

.errorlist {
  color: #b94a48;
}

ul.errorlist{
    list-style: none;
}

a.errorlist:hover,
a.errorlist:focus {
  color: #953b39;
}

/*Footer*/
#footer {
width:100%;
background-color:#111111;
color:#1e1818;
font-size:12px;
text-align:center;
}
.footer_top_wrapper {
width:800px;
padding:15px 0;
border-bottom:1px solid white;
margin:0 auto;
}
.footer_bottom_wrapper {
width:800px;
padding:15px 0;
}
.footer_bottom_wrapper {
width:800px;
margin:0 auto;

}
.footer_bottom_wrapper .footer_logo {
text-align:center;
float:left;
width:200px;
height:80px;

position:relative;
}
.footer_bottom_wrapper .footer_logo .footer_logo_wrapper {
margin:0 auto;
position:absolute;

bottom:0;
text-align:center;
width:200px;
}
.footer_bottom_wrapper .footer_logo a{
text-align:center;
}
.footer_bottom_wrapper ._logo img {

text-align:center;
}

/*img grow 2*/
#ex2 img{
    height: 125px;
    width: 125px; margin: 15px 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

#ex2 img:hover {
    height: 130px;
    width: 130px;
}