<table>
    <caption>Rapport de temps de {{employe.first_name}} {{employe.last_name}}</caption>

        <tr>
			<th>Numéro du projet</th>
            <th>Tâche</th>
			<th>Temps Total</th>
        </tr>

{% for f in blocs %}
	<tr>
	{% ifchanged f.projet__numero %}
		<td>{{f.projet__numero}} {{f.projet__nom}} {{f.projet__modele}}</td>
    {% else %}
        <td></td>
    {% endifchanged %}
	<td>{{f.tache__numero}} {{ f.tache__description }}</td>
	<td>{{f.heure}}</td>
 	</tr>
{% endfor %}

		<tr>
			<td></td><th>Total:</th><td>{{total.total}}</td>
		</tr>


</table>
