
		<h4>Rapport de temps des machines</h4>
		<h3>{{ nom_projet }}</h3>
		<table>
			<tr>
				<th>Modèle</th>
				<th>Projets</th>
				<th>Temps</th>
			</tr>
		{% for f in blocs %}
			<tr>
			<td rowspan='{{f.liste_projet|length}}'>{{f.projet__modele}}</td>
			{% for p in f.liste_projet %}
				<td>{{ p.projet__numero }}</a></td>
				<td>{{ p.heure_modele }}</td>
				</tr>
				<tr>
			{% endfor %}
				<td></td>
				<th>Moyenne {{f.projet__modele}} :</th>
				<th>{{ f.moyenne }}</th>
			</tr>
			<tr>
				<td></td>
				<th>Total {{f.projet__modele}} :</th>
				<th>{{ f.heure }}</th>
		{% endfor %}
			<tr>
				<td></td><th>Total:</th><th>{{total.total}}</th>
			</tr>
		</table>
