{% extends "base.html" %}
{% block title %}Rapports{% endblock title %}
{% block nav-eci %}<li class="dropdown active">{% endblock nav-eci %}
{% block content %}
<div class="row-fluid well">
	<div class="span12">
		<h4>Liste des projets par client</h4>
		<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Clients</th>
				<th>Numéros</th>
				<th>Noms</th>
				<th>Modèles</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan='4'><a href='getcsv'>Télécharger .xls</a></td>
			</tr>
		</tfoot>
		<tbody>
		{% for clients in liste_clients %}
			<tr>
			<td rowspan='{{clients.liste_projets|length}}'><a href='{% url 'feuilledetemps.views.client_details' clients.id %}'>{{clients.compagnie}}</a></td>
			{% for projets in clients.liste_projets %}
				<td><a href='{% url 'feuilledetemps.views.rapportdetail' projets.numero %}'>{{ projets.numero }}</a></td>
				<td><a href='{% url 'feuilledetemps.views.liste_nom_projet' projets.nom %}'>{{ projets.nom }}</td>
				<td><a href='{% url 'feuilledetemps.views.liste_modele_projet' projets.nom projets.modele %}'>{{ projets.modele }}</td>
				</tr>
				<tr>
			{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
</div>
{% endblock %}