{% extends "base.html" %}
{% block title %}Rapports{% endblock title %}
{% block nav-eci %}<li class="dropdown active">{% endblock nav-eci %}
{% block content %}
<div class="row-fluid well">
	<div class="span12">
		<h4>Rapport de temps des machines</h4>
		<h3>{{ nom_projet }} {{ modele_projet }}</h3>
		<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Projets</th>
				<th>Tâches</th>
				<th>Temps (Heures)</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td></td><th>Moyenne :</th><th>{{moyenne}}</th>
			</tr>
			<tr>
				<td></td><th>Total :</th><th>{{total.total}}</th>
			</tr>
			<tr>
				<!-- <td colspan='3'><a href='getcsv'>Télécharger .xls</a></td> -->
			</tr>
		</tfoot>
		<tbody>
		{% for f in blocs %}
			<tr>
			<td rowspan='{{f.liste_tache|length}}'><a href='{% url 'feuilledetemps.views.rapportdetail' f.projet__numero %}'>{{f.projet__numero}}</a></td>
			{% for t in f.liste_tache %}
				<td><a href='{% url 'feuilledetemps.views.tachedetail' t.tache__numero %}'>{{ t.tache__numero }} {{ t.tache__description }}</a></td>
				<td>{{ t.heure_tache }}</td>
				</tr>
				<tr>
				{% if forloop.last %}
				<td></td>
				<th>Total {{ f.projet__numero }} : </th>
				<th>{{ f.heure }}</th>
				{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
</div>
{% endblock %}