<table>
	<caption>Projets en attentes</caption>
	<tr>
		<th>Numéro</th>
		<th>Nom</th>
		<th>Modèle</th>
		<th>Client</th>
		<th>Budget MAT</th>
		<th>Budget MO (Heures)</th>
	</tr>
	{% for projet in projets_attente.projets %}
		<tr>
			<td>{{projet.numero}}</td>
			<td>{{projet.nom}}</td>
			<td>{{projet.modele}}</td>
			<td>{{projet.client.compagnie}}</td>
			<td>{{projet.budget_mat}} $</td>
			<td>{{projet.budget_mo}}</td>
		</tr>
		<tr>
			<td colspan='3'></td>
			<th>Total:</th>
			<th>{{ projets_attente.total_mat }} $</th>
			<th>{{ projets_attente.total_mo }}</th>
		</tr>
	{% endfor %}
</table>
<table>
	<caption>Projets actifs</caption>
	<tr>
		<th>Numéro</th>
		<th>Nom</th>
		<th>Modèle</th>
		<th>Client</th>
		<th>Budget MAT</th>
		<th>Budget MO (Heures)</th>
		<th>Temps (Heures)</th>
		<th>% MO</th>
		<th>Jours Restant</th>
	</tr>
	{% for f in rapport_actif %}
		<tr>
			<td>{{f.projet__numero}}</td>
			<td>{{f.projet__nom}}</td>
			<td>{{f.projet__modele}}</td>
			<td>{{f.projet__client__compagnie}}</td>
			<td>{{f.projet__budget_mat}} $</td>
			<td>{{f.projet__budget_mo}}</td>
			<td>{{f.heure}}</td>
			<td>{{f.pourcent}} %</td>
			<td>{{ f.jour_debut }} {{ f.jour_fin }} {{ f.jours_restant }}</td>
		</tr>
	{% endfor %}
	<tr>
		<td colspan='3'></td>
		<th>Total:</th>
		<th>{{total_budget_actif.0.total_budget_mat}} $</th>
		<th>{{total_budget_actif.0.total_budget_mo}}</th>
		<th>{{total_actif.total}}</th>
		<th>{{total_pourcent}} %</th>
		<th>{{total_actif.jours_travail}} jours de 8h</th>
	</tr>
</table>