{% extends "base.html" %}
{% block title %}Rapports{% endblock title %}
{% block extrahead %}
<link rel="stylesheet" href="{{STATIC_URL}}css\datepicker.css" />
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
{% endblock extrahead %}
{% block jquery %}
$( "#datepicker1" ).datepicker({format: 'yyyy-mm-dd', autoclose: true});
$( "#datepicker2" ).datepicker({format: 'yyyy-mm-dd', autoclose: true});
{% endblock jquery %}
{% block nav-eci %}<li class="dropdown active">{% endblock nav-eci %}
{% block content %}
<div class="row-fluid well">
	<div class="span12">
		<ul>
		<li><a href="projets">Rapport du temps par projet</a> | <a href="projets/getcsv">(Télécharger .xls)</a></li>
		<li><a href="taches">Rapport du temps par tâche</a> | <a href="taches/getcsv">(Télécharger .xls)</a></li>
		<li><a href="employes">Rapport du temps par employé</a> | <a href="employes/getcsv">(Télécharger .xls)</a></li>
		<li><a href="clients">Rapport de projet par client</a> | <a href="clients/getcsv">(Télécharger .xls)</a></li>
		</ul>
	</div>
</div>
<div class="row-fluid well">
	<div class="span12">
		<form class="form-inline" action="" method="post">{% csrf_token %}
			<p>Affichez les blocs de temps de l'intervalle suivant:</p>
			<p><label for="datepicker1">Date début:</label>
			<input class="input-small" id="datepicker1" type="text" name="date_debut" />
			<label for="datepicker2"> Date fin:</label>
			<input class="input-small" type="text" name="date_fin" id="datepicker2" value="{{ date }}" />
			<input class="btn" type="submit" value="Rechercher" /></p>
			{% if form.errors %}
			<p>Vous n'avez pas remplie les champs correctement</p>
			{% endif %}
		</form>
	</div>
</div>
{% endblock content %}