{% extends "base.html" %}
{% load admin_urls %}
{% load humanize %}
{% block title %}GPAO{% endblock title %}
{% block nav-gpao %}<li class="dropdown active">{% endblock nav-gpao %}
{% block content %}
<div class="row-fluid well">
	<div class="span12">		
		<h4>GPAO</h4>
		<h4>{{nm.reference}} {{nm.designation}} (<a href="{% url 'admin:gpao_nm_change' nm.id %}">Edit</a>)</h4>
		<p>Plan d'ensemble lié: <a href="{{ nm.pe.plan.url }}">{{nm.pe}}</a></p>

		<table class="table table-striped table-bordered table-condensed">
			<caption>NMs et Pièces liés</caption>
			<thead>
				<tr>
					<th>N° sur PE</th>
					<th>Référence</th>
					<th>Désignation</th>
					<th>Qt.</th>
				</tr>
			</thead>
			<tbody>
				{% for lien in nm.get_liensnm %}
					<tr>
						<td>{{lien.numero_pe}}</td>
						<td><a href="{% url 'details_nm' lien.to_nm.reference %}">{{lien.to_nm.reference}}</a></td>
						<td>{{lien.to_nm.designation}}</td>
						<td>{{lien.quantite}}</td>
					</tr>
				{% endfor %}
				{% for piece in nm.get_lienspiece %}
					<tr>
						<td>{{piece.numero_pe}}</td>
						<td><a href="">{{piece.to_piece.reference}}</a></td>
						<td>{{piece.to_piece.designation}}</td>
						<td>{{piece.quantite}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

    <p>Part list</p>
    <table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Pièces</th>
        <th>Quantité</th>
        <th>Fournisseur</th>
        <th>Prix</th>
    </tr>
    {% for pieces in nm.get_pieces %}
        <tr>
            <td>{{ pieces.piece }}</td>
            <td>{{ pieces.qt }}</td>
            <td>{{ pieces.fournisseur }}</td>
            <td>{{ pieces.piece.prix }}&nbsp;$</td>
        </tr>
    {% endfor %}
    </table>
	</div>
</div>
{% endblock %}