{% extends "base.html" %}
{% load admin_urls %}
{% load humanize %}
{% block title %}GPAO{% endblock title %}
{% block nav-gpao %}<li class="dropdown active">{% endblock nav-gpao %}
{% block content %}
<div class="row-fluid">
	<div class="span12">
    <div class="well">
		<h4>GPAO</h4>
		<h4>{{nm.reference}} {{nm.designation}} (<a href="{% url 'admin:gpao_nm_change' nm.id %}">Edit</a>)</h4>
		<p>Plan d'ensemble lié: <a href="{{ nm.pe.plan.url }}">{{nm.pe}}</a></p>

		<table class="table table-striped table-bordered table-condensed">
			<caption>NMs et Pièces liés</caption>
			<thead>
				<tr>
					<th>N° sur PE</th>
					<th>Référence</th>
					<th>Désignation</th>
					<th>Qt.</th>
				</tr>
			</thead>
			<tbody>
				{% for lien in nm.get_liensnm %}
					<tr>
						<td>{{lien.numero_pe}}</td>
						<td><a href="{% url 'details_nm' lien.to_nm.reference %}">{{lien.to_nm.reference}}</a></td>
						<td>{{lien.to_nm.designation}}</td>
						<td>{{lien.quantite}}</td>
					</tr>
				{% endfor %}
				{% for piece in nm.get_lienspiece %}
					<tr>
						<td>{{piece.numero_pe}}</td>
						<td><a href="">{{piece.to_piece.reference}}</a></td>
						<td>{{piece.to_piece.designation}}</td>
						<td>{{piece.quantite}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

    <h3>Part list</h3>
    <table class="table table-striped table-bordered table-condensed">
    <tr>
        <td class="align-right" colspan='5'>
		    <a target='_blank' class='btn btn-primary' href="{% url 'soumission' nm.reference %}">Faire une soumission</a>
		</td>
    </tr>
    <tr>
        <th>Pièces</th>
        <th>Fournisseur</th>
        <th>Prix unitaire</th>
        <th>Quantité</th>
        <th>Prix</th>
    </tr>
    {% for pieces in nm.get_pieces %}
        <tr>
            <td>{{ pieces.piece }}</td>
            <td>{{ pieces.fournisseur }}</td>
            <td>{{ pieces.piece.prix }}&nbsp;$</td>
            <td>{{ pieces.qt }}</td>
            <td>{{ pieces.prix }}&nbsp;$</td>
        </tr>
        {% if forloop.last %}
            <tr><th colspan="3"></th><th>Total:</th><td>{{pieces.total}}&nbsp;$</td></tr>
        {% endif %}
    {% endfor %}
    </table>

	</div></div>
</div>
{% endblock %}