{% extends "base.html" %}
{% block title %}Rapports{% endblock title %}
{% block nav-rapport %}<li class="dropdown active">{% endblock nav-rapport %}
{% block content %}
<div class="row-fluid well">
	<div class="span12">
		<h4>Techno-Pro Experts Inc.</h4>
		<h4>Liste des projets</h4>
		<h3>{{ nom_projet }}</h3>
		<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td class="align-right" colspan='2'>
					<a class='btn btn-primary' href="{% url 'print_liste_projets_noms_tpe' nom_projet %}">Imprimer</a> 
					<a class='btn btn-primary' href="{% url 'xls_liste_projets_noms_tpe' nom_projet %}">.xls</a>
				</td>
			</tr>
			<tr>
				<th>Numéros</th>
				<th>Temps</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Total:</th><th>{{projets_total.heures}}</th>
			</tr>
			<tr>
				<td class="align-right" colspan='2'>
					<a class='btn btn-primary' href="{% url 'print_liste_projets_noms_tpe' nom_projet %}">Imprimer</a> 
					<a class='btn btn-primary' href="{% url 'xls_liste_projets_noms_tpe' nom_projet %}">.xls</a>
				</td>
			</tr>
		</tfoot>
		<tbody>
		{% for projet in projets %}
			<tr>
				<td><a href="{% url 'projet_details_tpe' projet.numero %}">{{ projet.numero }}</a></td>
				<td>{{ projet.heure|default_if_none:"0.00" }}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
</div>
{% endblock %}