{% extends "base.html" %}
{% block title %}Rapports{% endblock title %}
{% block nav-rapport %}<li class="dropdown active">{% endblock nav-rapport %}
{% block content %}
<div class="well"><div class="row-fluid">
	<div class="span12">
    <img width="160" style="float:right" src="{{ STATIC_URL }}img/logo_tpe.png">
		<h4>Techno-Pro Experts Inc.</h4>
		<h4>Liste des projets par client</h4>
		<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td class="align-right" colspan='3'>
					<a class='btn btn-primary' href="{% url 'print_liste_clients_tpe' %}">Imprimer</a> 
					<a class='btn btn-primary' href="{% url 'xls_liste_clients_tpe' %}">.xls</a>
				</td>
			</tr>
			<tr>
				<th>Clients</th>
				<th>Numéros</th>
				<th>Noms</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td class="align-right" colspan='3'>
					<a class='btn btn-primary' href="{% url 'print_liste_clients_tpe' %}">Imprimer</a> 
					<a class='btn btn-primary' href="{% url 'xls_liste_clients_tpe' %}">.xls</a></td>
			</tr>
		</tfoot>
		<tbody>
		{% for clients in liste_clients %}
			{% if clients.liste_projets|length > 0 %}
			<tr>
			<td rowspan='{{clients.liste_projets|length}}'><a href="{% url 'client_details_tpe' clients.id %}">{{clients.nom}}</a></td>
			{% for projets in clients.liste_projets %}
				<td><a href="{% url 'projet_details_tpe' projets.numero %}">{{ projets.numero }}</a></td>
				<td><a href="{% url 'liste_projets_noms_tpe' projets.nom %}">{{ projets.nom }}</a></td>
				
				</tr>
				<tr>
			{% endfor %}
			</tr>
			{% endif %}
		{% endfor %}
		</tbody>
		</table>
	</div></div>
</div>
{% endblock %}