{% extends "base.html" %}
{% block title %}Rapports{% endblock title %}
{% block extrahead %}
<link rel="stylesheet" href="{{STATIC_URL}}css\datepicker.css" />
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
<link href="{{STATIC_URL}}css/extra.css" rel="stylesheet">
{% endblock extrahead %}
{% block jquery %}
$( "#datepicker1" ).datepicker({format: 'yyyy-mm-dd', autoclose: true});
$( "#datepicker2" ).datepicker({format: 'yyyy-mm-dd', autoclose: true});
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
{% endblock jquery %}
{% block nav-rapport %}<li class="dropdown active">{% endblock nav-rapport %}
{% block content %}
<div class="row-fluid well">
	<div class="span12"> 
		<h4>Techno-Pro Experts</h4>
		<h4>Rapport de temps de chacun des projets</h3>
		<ul class="nav nav-tabs" id="myTab">
		  <li><a href="#attente">En Attente</a></li>
		  <li class="active"><a href="#actif">En Cours</a></li>
		  <li><a href="#inactif">Compléter</a></li>
		</ul>
		
		<div class="tab-content">
		<div class="tab-pane attente" id="attente">
			  <h4>Projets en attente</h4>
			  {% if projets_attente|length > 0 %}
			  <table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<td class="align-right" colspan='4'>
							<a class='btn btn-primary' href="{% url 'print_liste_projets_attente_tpe' %}">Imprimer</a> 
							<a class='btn btn-primary' href="{% url 'xls_liste_projets_tpe' %}">.xls</a>
						</td>
					</tr>
					<tr>
						<th>Numéro</th>
						<th>Nom</th>
						<th>Client</th>
						<th class='center-text'>Budget (H)</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan='2'></td>
						<th>Total:</th>
						<th class='center-text'>{{ total_attente.total_mo }}</th>
					</tr>
					<tr>
						<td class="align-right" colspan='4'>
							<a class='btn btn-primary' href="{% url 'print_liste_projets_attente_tpe' %}">Imprimer</a> 
							<a class='btn btn-primary' href="{% url 'xls_liste_projets_tpe' %}">.xls</a>
						</td>
					</tr>
				</tfoot>
				<tbody>
			{% for projet in projets_attente %}
				<tr>
				<td>{{projet.numero}}</td>
				<td>{{projet.nom}}</td>
				<td><a href="">{{projet.client.nom}}</a></td>
				<td class='center-text'>{{projet.budget_mo}}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
			{% else %}
			<p>Il n'y a aucun projets en attente</p>
			{% endif %}
		  </div>
		  
		  <div class="tab-pane active" id="actif">
			  <h4>Projets actif</h4>
			  {% if projets_actif|length > 0 %}
			  <table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<td class="align-right" colspan='7'>
							<a class='btn btn-primary' href="{% url 'print_liste_projets_actif_tpe' %}">Imprimer</a> 
							<a class='btn btn-primary' href="{% url 'xls_liste_projets_tpe' %}">.xls</a>
						</td>
					</tr>
					<tr>
						<th>Numéro</th>
						<th>Nom</th>
						<th>Client</th>
						<th class='center-text'>Budget (H)</th>
						<th class='center-text'>Temps (H)</th>
						<th class='center-text'>% MO</th>
						<th class='center-text'>Restant (J)</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan='2'></td>
						<th>Total:</th>
						<th class='center-text'>{{total_actif.total_mo}}</th>
						<th class='center-text'>{{total_actif.total_heure}}</th>
						<th class='center-text'>{{total_actif.total_pourcent}} %</th>
						<th></th>
					</tr>
					<tr>
						<td class="align-right" colspan='7'>
							<a class='btn btn-primary' href="{% url 'print_liste_projets_actif_tpe' %}">Imprimer</a> 
							<a class='btn btn-primary' href="{% url 'xls_liste_projets_tpe' %}">.xls</a>
						</td>
					</tr>
					</tfoot>
				<tbody>
			{% for projet in projets_actif %}
				<tr>
				{% if projet.heure %}
				<td><a href="">{{projet.numero}}</a></td>
				<td><a href="">{{projet.nom}}</a></td>
				<td><a href="">{{projet.modele}}</a></td>
				{% else %}
				<td>{{projet.numero}}</td>
				<td>{{projet.nom}}</td>
				{% endif %}
				<td><a href="">{{projet.client.nom}}</a></td>
				<td class='center-text'>{{projet.budget_mo}}</td>
				<td class='center-text'>{{projet.heure}}</td>
				<td class='center-text'>{{projet.pourcent}} %</td>
				<td class='center-text'>{{projet.jours_restant}}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
			{% else %}
			<p>Il n'y a aucun projets actif</p>
			{% endif %}
		  </div>
		  
		  <div class="tab-pane" id="inactif">
			  <h4>Projets inactif</h4>
			  {% if projets_inactif|length > 0 %}
			  <table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<td class="align-right" colspan='6'>
							<a class='btn btn-primary' href="{% url 'print_liste_projets_complet_tpe' %}">Imprimer</a> 
							<a class='btn btn-primary' href="{% url 'xls_liste_projets_tpe' %}">.xls</a>
						</td>
					</tr>
					<tr>
						<th>Numéro</th>
						<th>Nom</th>
						<th>Client</th>
						<th class='center-text'>Budget (H)</th>
						<th class='center-text'>Temps (H)</th>
						<th class='center-text'>% MO</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan='3'></td><th>Total:</th><th class='center-text'>{{total_inactif.total_heure}}</th><td></td>
					</tr>
					<tr>
						<td class="align-right" colspan='6'>
							<a class='btn btn-primary' href="{% url 'print_liste_projets_complet_tpe' %}">Imprimer</a> 
							<a class='btn btn-primary' href="{% url 'xls_liste_projets_tpe' %}">.xls</a>
						</td>
					</tr>
				</tfoot>
				<tbody>
			{% for projet in projets_inactif %}
				<tr>
				{% if projet.heure %}
				<td><a href="">{{projet.numero}}</a></td>
				<td><a href="">{{projet.nom}}</a></td>
				<td><a href="">{{projet.modele}}</a></td>
				{% else %}
				<td>{{projet.numero}}</td>
				<td>{{projet.nom}}</td>
				{% endif %}
				<td><a href="">{{projet.client.nom}}</a></td>
				<td class='center-text'>{{projet.budget_mo}}</td>
				<td class='center-text'>{{projet.heure}}</td>
				<td class='center-text'>{{projet.pourcent}} %</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
			{% else %}
			<p>Il n'y a aucun projets inactif</p>
			{% endif %}
		  </div>
		</div>
  </div>
</div>

{% endblock %}