{% extends "base.html" %}
{% block title %}Rapports{% endblock title %}
{% block nav-rapport %}<li class="dropdown active">{% endblock nav-rapport %}
{% block extrahead %}
<style type="text/css">
	table {
		background-color: transparent;
	}
	td {
		font-size: 10px;
	}
	td img {
		float: left;
		height: 15px
	}
	
</style>
{% endblock extrahead %}
{% block content %}
<div class="row-fluid well">
	<div class="span12">
		<h4>EuGénie Canada</h4>
		<h4>Rapport des projets actifs</h4>
		<table>
		<tr>
			<td style="width: 150px; vertical-align: bottom;">Projet</td>
			<td style="width: 100px; vertical-align: bottom;">Date Début</td>
			<td style="width: 100px; vertical-align: bottom;">Date Fin</td>
			<td style="width: 50px; vertical-align: bottom;">Durée (J)</td>
			<td style="width: 500px; vertical-align: bottom;">
				<table>
				<tr>
					<td style="text-align: left; width: 250px;">{{ start }}</td>
					<td style="text-align: right;width: 250px;">{{ end }}</td>
				</tr>
				</table>
			</td>
		</tr>
		<tr >
			<td colspan='4'></td>
			<td>
				<img src="{{STATIC_URL}}images/shim.gif" height="15px;" width="{{ jour_delay_pix }}px;">
				<img src="{{STATIC_URL}}images/arrow.gif" height="15px;">
			</td>
		</tr>
		{% for projet in projets %}
		<tr>
			<td>{{ projet.numero }} {{ projet.nom }} {{ projet.modele }}</td>
			<td>{{ projet.date_debut }}</td>
			<td>{{ projet.date_fin }}</td>
			<td>{{ projet.nbjours }}</td>
			
			<td style="border: solid 1px grey;">
			{% if projet.nbjours != 0 %}
				{% if projet.early %}
					<img src="{{STATIC_URL}}images/blue-line.gif" height="15px;" width="{{ projet.nbjours_pix }}px;">
					{% if projet.late %}
					{% else %}
					<img src="{{STATIC_URL}}images/bluebar.gif" height="15px;" width="2px;">
					{% endif %}
				{% else %}
					<img src="{{STATIC_URL}}images/shim.gif" height="15px;" width="{{ projet.delay_pix }}px;">
					<img src="{{STATIC_URL}}images/bluebar.gif" height="15px;" width="2px;">
					{% if projet.late %}
						<img src="{{STATIC_URL}}images/blue-line.gif" height="15px;" width="{{ projet.nbjours_pix }}px;">
					{% else %}
						<img src="{{STATIC_URL}}images/blue-line.gif" height="15px;" width="{{ projet.nbjours_pix }}px;">
						<img src="{{STATIC_URL}}images/bluebar.gif" height="15px;" width="2px;">
					{% endif %}
				{% endif %}
			{% endif %}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td class="align-right" colspan='5'>
			
			</td> 
		</tr>
		<tr>
			<td class="align-right" colspan='5'>
			<a class='btn btn-primary' href="{% url 'print_projets_gantt_eci' %}">Imprimer</a> 
			</td> 
		</tr>
		</table>
	</div>
</div>
{% endblock content %}