{% extends "base.html" %}
{% load humanize %}
{% load rapports_extras %}
{% block title %}Rapports{% endblock title %}
{% block nav-rapport %}<li class="dropdown active">{% endblock nav-rapport %}
{% block content %}
<div class="well">
    <div class="row-fluid">
        <div class="span12">
            <img width="200" style="float:right" src="{{ STATIC_URL }}img/logo_eugenie.png">
            <h4>EuGénie Canada Inc.</h4>
            <h4>Liste des machines</h4>
            <table class="table table-striped table-bordered table-condensed"
                <tr>
                    <th>{{ machine }}</th>
                    <th>T-Prod</th>
                    <th>Perte temps</th>
                    <th>Conception</th>
                    <th>Lancement</th>
                    <th>Programmation</th>
                    <th>Support Technique</th>
                    <th>Emballage</th>
                    <th>Appel service</th>
                    <th>Usinage</th>
                    <th>Assemblage</th>
                    <th>Câblage</th>
                    <th>Raccordement électrique</th>
                    <th>REWORK</th>
                    <th>Panneaux contrôle</th>
                    <th>Panneau pneumatique</th>
                    <th>Essai</th>
                </tr>
                {% for projet in projets %}
                    <tr>
                        <th>{{ projet.numero }}</th>
                        <td>{{ projet.temps_total }} H</td>
                        <td>{{ projet|prod_pourcent:'A05'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'C01'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'C03'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'C05'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'C07'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'L02'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'L06'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'P04'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'P05'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'P06'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'P07'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'P011'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'P013'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'P014'|floatformat:2|intcomma }} %</td>
                        <td>{{ projet|prod_pourcent:'P017'|floatformat:2|intcomma }} %</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}