	{% extends "base.html" %}
	{% block title %}Connexion{% endblock %}
    {% block content %}
        <div style="text-align: center">
            <img style="margin-top: 50px;margin-bottom: 70px" src="{{STATIC_URL}}img/main.png">
            {% if form.errors %}
                <h1 class="text-error">Erreur d'authentification</h1>
                {% if form.username.errors %}
                    <p class="text-error">Vous devez entrer un nom d'utilisateur</p>
                {% endif %}
                {% if form.password.errors %}
                    <p class="text-error">Votre mot de passe est incorrect</p>
                {% endif %}
            {% endif %}
        </div>
	{% endblock %}