{% extends "base.html" %}
{% load humanize %}
{% block title %}Listes de prix{% endblock title %}
{% block nav-liste %}<li class="dropdown active">{% endblock nav-liste %}
{% block content %}
<div class="well">
<div class="row-fluid">
	<div class="span12">
		<h3>{{ fournisseur.nom }}</h3>	
		<h4>Liste de prix</h4>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th>Code</th>
					<th>Description</th>
					{% if user.is_superuser %}
					<th>Prix liste</th>
					<th>Cost ($CA)</th>
					{% endif %}
					<th>Prix vente ($CA)</th>
					{% if user.is_superuser %}
					<th>Profit ($CA)</th>
					<th>B.B</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for machine in liste_machines %}
					{% ifchanged machine.categorie %}
					<tr>
						<th colspan='{% if user.is_superuser %}7{% else %}3{% endif %}'>{{ machine.categorie }}</th>
					</tr>
					{% endifchanged %}
					<tr>
						<td rowspan='{% if machine.details %}2{% else %}1{% endif %}'><a href="{% url 'details_machine' fournisseur.id machine.id %}">{{ machine.numero }}</a></td>
						<td>{{ machine.description }}</td>
						{% if user.is_superuser %}
						<td>{{ machine.prix_fournisseur |floatformat:2|intcomma }}&nbsp;{{ machine.fournisseur.devise.symbole }}</td>
						<td>{{ machine.cost |floatformat:2|intcomma }}&nbsp;$</td>
						{% endif %}
						<td>{{ machine.plMin |floatformat:2|intcomma }}&nbsp;$</td>
						{% if user.is_superuser %}
						<td>{{ machine.profit |floatformat:2|intcomma }}&nbsp;$</td>
						<td>{{ machine.profit_pourcent |floatformat:2|intcomma }}&nbsp;%</td>
						{% endif %}
						{% if machine.details %}<tr><td colspan='{% if user.is_superuser %}6{% else %}2{% endif %}'>{{machine.details}}</td></tr>{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
  </div></div>
</div>
{% endblock %}