{% extends "base.html" %}
{% load url from future %}
{% block title %}Listes de prix{% endblock title %}
{% block nav-liste %}<li class="dropdown active">{% endblock nav-liste %}
{% block content %}
<div class="well">
<div class="row-fluid">
	<div class="span12"> 
		<h3>Fournisseurs</h3>
		<table class="table table-striped table-bordered table-condensed">
			<caption>Actifs</caption>
			<thead>
				<tr>
					<th width='50%'>Nom</th>
					<th width='50%'>Liste de prix</th>
				</tr>
			</thead>
			<tbody>
				{% for fournisseur in liste_fournisseurs %}
					{% ifchanged fournisseur.actif %}
						{% if forloop.first %}
							<tr>
								<td><a href="{% url 'detail_fournisseur' fournisseur_id=fournisseur.id %}">{{fournisseur.nom}}</a></td>
								<td><a href="{% url 'liste_machines' fournisseur_id=fournisseur.id %}" class='btn btn-small btn-primary'><i class='icon-list icon-white'></i> Afficher</a></td>
							</tr>
						{% else %}
							</tbody>
							</table>
							<table class="table table-striped table-bordered table-condensed">
							<caption>Inactifs</caption>
							<thead>
								<tr>
									<th width='50%'>Nom</th>
									<th width='50%'>Liste de prix</th>
								</tr>
							</thead>
							<tbody>
						{% endif %}
					{% else %}
						<tr>
							<td><a href="{% url 'detail_fournisseur' fournisseur_id=fournisseur.id %}">{{fournisseur.nom}}</a></td>
							<td><a href="{% url 'liste_machines' fournisseur_id=fournisseur.id %}" class='btn btn-small btn-primary'><i class='icon-list icon-white'></i> Afficher</a></td>
						</tr>
					{% endifchanged %}
				{% endfor %}
			</tbody>
		</table>
  </div>
</div>
</div>
{% endblock %}