<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GEI | {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
	<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	  }
    </style>

    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet" >
	<link href="{{STATIC_URL}}css/extra.css" rel="stylesheet" >
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.js"></script>
	{% block extrahead %}
    {% endblock extrahead %}
	<script type="text/javascript">
    $(document).ready(function(){$('.dropdown-toggle').dropdown()});
	$(function(){
    {% block jquery %}
    {% endblock %}
    });
    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
	
</head>

<body>
	{% block nav %}
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
		<div class="container">
		  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </a>
		  <a class="brand" href="/">GEI</a>
		  <div class="nav-collapse">
			<ul class="nav">
			  {% block nav-home %}<li>{% endblock nav-home %}<a href="/"><i class="icon-home"></i> Accueil</a></li>	  
			  {% block nav-feuille %}<li class="dropdown">{% endblock nav-feuille  %}
				  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Feuilles de temps <b class="caret"></b></a>
				  <ul class="dropdown-menu">
					{% if perms.feuilles_de_temps.add_bloc_eugenie %}
					<li class="dropdown-submenu">
					  <a href="{% url 'add_blocs_eci'%}">EuGénie Canada</a>
					  <ul class="dropdown-menu">
						<li><a href="{% url 'add_blocs_eci'%}">Ajouter des blocs de temps</a></li>
					  </ul>
					</li>
					{% endif %}
					<li class="dropdown-submenu">
					  <a href="">Techno-Pro Experts</a>
					  <ul class="dropdown-menu">
						<li><a href="">Ajouter des blocs de temps</a></li>
					  </ul>
					</li>
					<li class="dropdown-submenu">
					  <a href="">JRC Machineries</a>
					  <ul class="dropdown-menu">
						<li><a href="">Ajouter des blocs de temps</a></li>
					  </ul>
					</li>
					{% if perms.feuilledetemps.add_banque %}
					<li class="dropdown-submenu">
					  <a href="{% url 'add_banque' %}">Banque d'heures</a>
					  <ul class="dropdown-menu">
						<li><a href="{% url 'add_banque' %}">Ajouter des heures</a></li>
					  </ul>
					</li>
					{% endif %}
				  </ul>
			  </li>
			  {% block nav-rapport %}<li class="dropdown">{% endblock nav-rapport  %}
				  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Rapports <b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li class="dropdown-submenu">
					  <a href="{% url 'liste_projets_eci' %}">EuGénie Canada</a>
					  <ul class="dropdown-menu">
						<li><a href="{% url 'liste_projets_eci' %}">Projets</a></li>
						<li><a href="{% url 'liste_taches_eci' %}">Tâches</a></li>
						<li><a href="{% url 'liste_employes_eci' %}">Employés</a></li>
						<li><a href="{% url 'liste_clients_eci' %}">Clients</a></li>
					  </ul>
					</li>
					<li class="dropdown-submenu">
					  <a href="#">Techno-Pro Experts</a>
					  <ul class="dropdown-menu">
						<li><a href="#">Projets</a></li>
						<li><a href="#">Tâches</a></li>
						<li><a href="#">Employés</a></li>
						<li><a href="#">Clients</a></li>
					  </ul>
					</li>
					<li class="dropdown-submenu">
					  <a href="#">JRC Machinieries</a>
					  <ul class="dropdown-menu">
						<li><a href="#">Projets</a></li>
						<li><a href="#">Tâches</a></li>
						<li><a href="#">Employés</a></li>
						<li><a href="#">Clients</a></li>
					  </ul>
					</li>
				  </ul>
				</li>
				{% block nav-liste %}<li class="dropdown">{% endblock nav-liste  %}
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">Listes de prix <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'liste_fournisseurs' %}">Fournisseurs</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav pull-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% filter force_escape %}{% firstof user.first_name user.username user.get_short_name user.get_username %}{% endfilter %} <b class="caret"></b></a>
				<ul class="dropdown-menu">
				  {% if user.is_staff %}<li><a href="/admin">Administration</a></li>{% endif %}
				  <li><a href="/accounts/password_change">Changer le mot de passe</a></li>
				  <li><a href="/accounts/logout">Déconnecter</a></li>
				</ul>
			</li>
			</ul>
		  </div><!-- /.nav-collapse -->
		</div><!-- /.container -->
	  </div><!-- /.navbar-inner -->
	</div><!-- /.navbar -->
	{% endblock nav %}
	
    <div id="messages">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            <a class="close" data-dismiss="alert">×</a>
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="container">
    {% block content %}
    {% endblock content %}
    </div> <!-- /container -->
</body>
</html>