	{% extends "base.html" %}
	{% block title %}Accueil{% endblock %}
    {% block content %}
        {% if user.is_authenticated %}
        <div class="row-fluid">
            <div class="span8 offset2">
                <div class="pull-left" style="text-align:center;margin: 5px;">
                    <h4>Ajouter</h4>
                    <a href="{% url 'employe_add_bloc_eugenie' %}">
                        <img src="{{ STATIC_URL }}img/timesheet.png">
                    </a>
                </div>
                <div class="pull-left" style="text-align:center;margin: 5px;">
                    <h4>Consulter</h4>
                    <a href="{% url 'employe_edit_bloc_eugenie' %}">
                        <img src="{{ STATIC_URL }}img/consult.png">
                    </a>
                </div>
                {% if perms.feuilles_de_temps.superviseur_eugenie %}
                <div class="pull-left" style="text-align:center;margin: 5px;">
                    <h4>Approuver</h4>
                    <a href="{% url 'bloc_eugenie_approve' %}">
                        <img src="{{ STATIC_URL }}img/approuve.png">
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
            <div class="row-fluid">
                <div class="span4 offset4 text-center">
                    <img style="margin-top: 50px;margin-bottom: 70px" src="{{ STATIC_URL }}img/main.png">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3 text-center"><img style="margin: 25px;" src="{{ STATIC_URL }}img/logo_eugenie.png"></div>
                <div class="span3 text-center"><img style="margin: 25px;" src="{{ STATIC_URL }}img/logo_jrc_scale.png"></div>
                <div class="span3 text-center"><img style="margin: 25px;" src="{{ STATIC_URL }}img/logo_tpe_scale.png"></div>
                <div class="span3 text-center"><img style="margin: 25px;" src="{{ STATIC_URL }}img/logo_engrenage_scale.png"></div>
            </div>
        {% endif %}
	{% endblock %}